#receptacle button{
    margin: 5px;
    width:50px;
    height:50px;
}

#receptacle{
    align-content: center;
    justify-content: center;

}

#Jeu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#Form{
    align-self: center;
}


#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180;
    height: auto;
    align-self: center;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: 500px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}