
html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }

body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: url('./background.jpg') no-repeat center fixed;
}

#receptacle button{
    width:50px;
    height:50px;
}

button{
    margin: 5px;
    background-color:#a37ecd;
    border: solid 2px #b6b5db;
    border-radius: 10px;
    color: #FFC300;
    font-weight: 700;
}

#receptacle{
    align-self: center;

}
button:disabled{
opacity: 0.7;
}

#Jeu{
    margin: 15%;
    height: auto;
    width: auto;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#Jeu button{
    font-weight: 900;
}

#Jeu p,div{
    color:white;
}
div{
    margin: 5px;
}

#Form{
    position: fixed;
    margin: 15%;
    align-self: center;
    border: solid 2px ;
    padding: 20px;
    border-radius: 10px;
}


#info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: auto;
    align-self: center;
}

footer{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    position: relative;
}